body{
    background-color:skyblue;
    text-align: center;
} 
 
 
 .container{
    width: 400px;
    height: auto;
    min-height: 350px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 25px 15px;
}

h1, h2{
    margin: 0;
    color: saddlebrown;
    margin-bottom: 10px;
}
h2{
    margin-top: 10px;
}
#input{
    border: 2px solid aqua;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    margin-right: 20px;
}

button{
    background-color: skyblue;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px; 
    cursor: pointer;
}


li{
    list-style-type: none;
     background-color: burlywood;
     color: white;
    width: 300px;
    height: 30px;
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 10px;
}

li button{
    padding: 5px;
    margin-left: 180px;
    border-radius: 2px;
}

input[type = "checkbox"]{
accent-color: teal;
}


input:checked + label{
    text-decoration: line-through;
}

.count{
    display: flex;
    justify-content: space-between;
    color: saddlebrown;

}